<div class="page-header">
  <%= link_to estado_civils_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to @estado_civil, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h1>Editando estado_civil</h1>
</div>

<%= render 'form' %>
