<div class="page-header text-center">
  <h1>Bienvenido al sistema de Transporte Educativo Gratuito</h1>
</div>

<div class="jumbotron text-justify">
  <h4>Este sistema tiene como objetivo garantizar la llegada de estudiantes, docentes y personal auxiliar a los establecimientos educativos de toda la provincia. Aquí podrá registrarse como usuario y seguir las instrucciones.</h4></br>
  <p><%= link_to "Iniciar Sesión", new_user_session_path , :tabindex => "-1", :class => "btn btn-primary" %></p>
</div>

