<h1>Listado de roles</h1>

<%= link_to 'Nuevo Rol', new_role_path %>
<br />
<ul>
  <li class="listNoDecorate">
    <col-md- class="roleDescription">Role Name</col-md->
    <col-md- class="roleCommands">[Commands]</col-md->
  </li>

  <%=  build_role_list('indexrow') %>
</ul>

