<div class="page-header">
  <%= link_to tipo_gestions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to @tipo_gestion, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h1>Editando tipo_gestion</h1>
</div>

<%= render 'form' %>
