<p>Buen día <%= @resource.nombres %>,</p>
<p>Has requerido el cambio de contraseña de tu cuenta "<%= @resource.email %>", en el sistema <b>"Proyecto Base"</b>. Puedes realizar esta operación mediante el siguiente enlace:</p>
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si no has requerido esta acción, por favor ignora este correo.</p>
<p>Su contraseña no cambiara hasta que acceda al enlace proporcionado.</p>
<br/>
<p><b><em>PREGASE - Ministerio de Educación de la Provincia del Chubut</em><b/></p>
