<div class="page-header">
  <%= link_to situacion_revista_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to @situacion_revistum, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Ver
  <% end %>
  <h1>Editando situacion_revistum</h1>
</div>

<%= render 'form' %>
